<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission  android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:name="ru.krotarnya.diasync.Diasync"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.DiaSync"
        android:supportsRtl="false"
        tools:targetApi="31">

        <service
            android:name="ru.krotarnya.diasync.service.WidgetUpdateService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="ru.krotarnya.diasync.service.WearUpdateService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="ru.krotarnya.diasync.service.FirebaseReceiveService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver
            android:name="ru.krotarnya.diasync.Libre2Widget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_libre2_info" />
        </receiver>

        <activity
            android:name="ru.krotarnya.diasync.activity.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ru.krotarnya.diasync.activity.PipActivity"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
        </activity>

        <receiver
            android:name="ru.krotarnya.diasync.DiaBroadcastReceiver"
            android:exported="true"
            android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.diasync.libre2_bg" />
            </intent-filter>
        </receiver>
    </application>
</manifest>